html, body {
    position: relative;
    height: 100%;
    width: 100%;
    background-color:snow;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-100%);
}

.hero.is-info {
    height: 100vh;
    width: 100%;
    border-bottom: solid black 2px;
    background: url(images/lakeburton3.jpg) no-repeat center;
    background-size: cover;
    -ms-flex-item-align: stretch;
}

#skills {
    background-color: #8a9a5b;
}

#portfoliobg {
    background-color: snow;
}

#contact {
    background-color:#8a9a5b;
}

/* #arrow {
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    border-radius: 0%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 150px;
    width: 25px;
    padding: 70px 0px;
} */

/* @keyframes pulse-arrow {
    50% {
        box-shadow: 0 0 0 30px rgba(107,29,29,.2);
    }
} */

/* .hidden {
     display: none;
} */

.navbar {
    background: rgb(107, 29, 29)!important;
    height: 95px;
    position: fixed;
    width: 100%;
}

.navbar-end {
    padding: 20px;
}

.hero.is-info .navbar-item:hover {
    background-color: rgb(107, 29, 29)!important;
}

.title.is-1 {
    font-size: 2rem;
}

.title.has-text-centered {
    color:rgb(107, 29, 29);
}

.subtitle.has-text-centered {
    margin: 0%;
    padding-top: 0%;
}

.center {
    left: 25%;
}

#jobTitle {
    font-size: medium;
    font-style: oblique;
    color: white;
}

h2 {
    padding-top: 20px;
    padding: 10px;
    text-align: center;
}

.has-text-centered {
    position: relative;
    padding: 20px;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
}

.has-text-centered:hover .img-fluid {
    opacity: .2;
}

 .has-text-centered:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

 .has-text-centered:hover .content:not(:last-child) {
    opacity: 1;
}

.content:not(:last-child):hover  .img-fluid {
    opacity: .1;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 10%;
}

.content {
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    -webkit-transition: opacity 0.8s  ease-in-out;
    -moz-transition: opacity 0.8s  ease-in-out;
    -o-transition: opacity 0.8s  ease-in-out;
    -ms-transition: opacity 0.8s  ease-in-out;
}

.content ul {
    list-style: unset;
    margin-left: 0%;
    margin-top: 0%;
}

#tech {
    position: absolute;
    top: 10%;
}

#links {
    position: absolute;
    top: 60%;
}

#info {
    position: absolute;
    top: 42%;
    font-size: small;
    color: black;
    width: 300px;
    font-weight: bold;
}

.tag.is.rounded {
   display: inline-block;
   background-color: rgb(107, 29, 29);
}

.tag:not(body) {
    display: grid;
    background-color: #8a9a5b;
    color: whitesmoke;
    height: 1.5em;
}

.title.is-6 {
    color: rgb(107, 29, 29);
    font-weight: bolder;
}

.image.is-24x24 {
    display: inline-block;
    top: 10px;

}

ul {
    text-align: center;
}

#email, #linkedIn, #github, #resume {
    display: inline-block;
    padding: 50px;
}

i {
    background: #e7f0d3;
    padding: 20px;
    text-align: center;
    display: inline;
    border-radius: 50%;
}

.fab:hover, .far:hover, .fas.fa-file:hover {
    animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
    50% {
        box-shadow: 0 0 0 30px rgba(107,29,29,.3),
        0 0 0 55px rgba(107,29,29,.2),
        0 0 0 80px rgba(107,29,29,0.1);
    }
}

.fab, .far, .fas {
    color: black;
}

@media (min-width: 641px) and (max-width: 768px) {
    html, body {padding: 0}
    
}

@media only screen and (max-width: 640px) {
    html, body {padding: 0}
    nav{padding: 0}
}

@media screen and (max-width: 1087px) {
.hero.is-info .navbar-menu {
    background-color: black;
}
}

@media screen and (max-width: 464px) {
    .navbar-end {
        display: grid;
    }
}

@media screen and (max-width: 464px) {
    .navbar-menu {
        text-align: left;
    }
}

@media screen and (max-width: 464px) {
    span.has-text-centered {
        display: flex;
    }
}

@media screen and (max-width: 707px) {
   ul {
       padding: 0%;
       display: grid;
       text-align: left
    }
    #email, #linkedIn, #github, #resume {
        padding: 5px;
        display: flex;
    }
    #follow {
        text-align: left!important;
    }
}

footer { 
    position: relative;
    height: 100px;
    clear: both;
    padding-top: 20px;
    text-align: center;
    color: white;
    background-color: rgb(107, 29, 29);
}

#bulmaLogo {
    float: right;
}