html, body {
    height: 100%;
    width: 100%;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.button {
    background-color: rgb(107, 29, 29);
}

.hero.is-info {
    height: 100vh;
    width: 100%;
    border-bottom: solid black 2px;
    background: url(images/lakeburton3.jpg) no-repeat center;
    background-size: cover;
    -ms-flex-item-align: stretch;
}

.section {
    padding-top: 5rem;
}

.has-text-centered{
    padding: 20px;
}

.navbar {
    background: rgb(107, 29, 29)!important;
    height: 95px;
}

.navbar-end {
    padding: 20px;
}

#logo:hover { 
    background-color: unset;
}

.title.is-1 {
    font-size: 2rem;
}

.subtitle.has-text-centered {
    margin: 0%;
    padding-top: 0%;
}

.center {
    left: 25%;
}

#jobTitle {
    font-size: medium;
    font-style: oblique;
    color: white;
}

#sticky {
    position: fixed;
    z-index: 1;
    background-color: white;
    left: 0;
    padding: 10px;
    height: 100vh;
}

h2 {
    color: rgb(107, 29, 29);
    font-size: 30px;
    padding-top: 20px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

footer { 
    position: relative;
    height: 80px;
    clear: both;
    padding-top: 20px;
    text-align: center;
    color: white;
    background-color: rgb(107, 29, 29);
}

#bulmaLogo {
    float: right;
}

.img-fluid {
    max-width: 100%;
    height: auto;    
}

.col {
    padding: 5px;
}

ul {
    text-align: center;
}

#email, #linkedIn, #github {
    display: inline-block;
    padding: 50px;
}

path {
    box-sizing: content-box;
}

i {
    font-size: 100px;
    background: #e9ecef;
    padding: 50px;
    text-align: center;
    display: inline;
    border-radius: 50%;
    border: 3px solid lightgray;
    box-shadow: 0 0 0 10px rgba(255,255,255,.2),
        0 0 0 20px rgba(255,255,255,.4),
        0 0 0 30px rgba(255,255,255,.1);
}

i:hover {
    animation: pulse 4s infinite ease-in-out;
}

@keyframes pulse {
    50% {
        box-shadow: 0 0 0 40px rgba(255,255,255,.2),
        0 0 0 55px rgba(255,255,255,.4),
        0 0 0 80px rgba(133, 132, 132, 0.5);
    }
}

.fa-linkedin {
    color: blue;
}

.fa-github {
    color: black;
}

.fa-envelope {
    color: royalblue;
}

.second {
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: x-large;
    color: royalblue;

}

@media (min-width: 641px) and (max-width: 768px) {
    html, body {padding: 0}
    nav{}
}

@media only screen and (max-width: 640px) {
    html, body {padding: 0}

}